<script id="users_list_template" type="text/html">

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>USERNAME</th>
            <th>MAIL</th>
            <th>PASSWORD</th>
            <th>IS ACTIVE?</th>
        </tr>
        </thead>
        <tbody>
        <%#.%>
        <tr>
            <td><%id%></td>
            <td><%username%></td>
            <td><%mail%></td>
            <td><%password%></td>
            <td><%active%></td>
        </tr>
        <%/.%>
        </tbody>
    </table>
</script>